.container{
display: grid;
justify-content: center;
align-items: center;
grid-template-areas: 
"header header header header header"
"aside secao1 secao1 secao1 secao1"
"aside secao2 secao2 secao2 secao2"
"footer footer footer footer footer";
}

header{
    grid-area: header;
    width: 1000px;
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: solid 5px black;
}

aside{
    grid-area: aside;
    background-color: yellow;
    height: 410px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: solid 5px black;
}

.secao1{
    height: 200px;
    width: 790px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: solid 5px black;
}

.secao2{
    height: 201px;
    width: 790px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: solid 5px black;
}

.footer{
    grid-area: footer;
    background-color: red;
    height: 50px;
    border: solid 5px black;

}
.quadro {
    height: 50px;
    width: 100px;
    background-color: blue;
    border: solid 5px black;
    
}

